<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory="./.cache/"
    colors="true">

    <php>
        <env name="CACHE_REDIS_SERVER1_HOST" value="127.0.0.1" />
        <env name="CACHE_REDIS_SERVER1_PORT" value="6379" />

        <env name="CACHE_REDIS_CLUSTER_SEED1_HOST" value="127.0.0.1" />
        <env name="CACHE_REDIS_CLUSTER_SEED1_PORT" value="7000" />
        <env name="CACHE_REDIS_CLUSTER_SEED1_DB" value="1" />

        <env name="CACHE_REDIS_CLUSTER_SEED2_HOST" value="127.0.0.1" />
        <env name="CACHE_REDIS_CLUSTER_SEED2_PORT" value="7001" />
        <env name="CACHE_REDIS_CLUSTER_SEED2_DB" value="1" />

        <env name="CACHE_REDIS_CLUSTER_SEED3_HOST" value="127.0.0.1" />
        <env name="CACHE_REDIS_CLUSTER_SEED3_PORT" value="7002" />
        <env name="CACHE_REDIS_CLUSTER_SEED3_DB" value="1" />
    </php>

    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="PHPCache">
            <directory>./vendor/cache/redis-adapter/tests/src/Acceptance/</directory>
            <directory>./vendor/cache/simple-cache-bridge/tests/src/Acceptance/</directory>
        </testsuite>

        <testsuite name="Laravel">
            <directory>./vendor/cache/illuminate-adapter/tests/src/Acceptance</directory>
        </testsuite>

        <testsuite name="Symfony">
            <file>./vendor/symfony/cache/Tests/Adapter/FilesystemAdapterTest.php</file>
        </testsuite>

        <testsuite name="Stash">
            <file>./tests/src/Stash/StashTest.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <clover outputFile="reports/machine/coverage/phpunit.xml" />
            <html outputDirectory="reports/human/coverage/html" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="reports/human/junit/phpunit.html" />
        <junit outputFile="reports/machine/junit/phpunit.xml" />
    </logging>
</phpunit>
